* {
    box-sizing: border-box;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    flex: 1;
    padding: 20px;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .4375em;
    font-weight: 600;
    border: .125rem solid transparent;
    position: relative;
    border-radius: .125rem;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    padding: .625rem .75rem;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.big-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-top: 20px;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

@media(max-width: 1024px) {
    .container {
        margin-top: 20px;
        /* background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    }
}

@media(max-width: 757px) {
    .container {
        margin-top: 38px;
        /* background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    }
}

@media(max-width: 560px) {
    .container {
        margin-top: 80px;
    }
}

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
}

/* 選擇欄 */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 2;
}

#navbar {
    background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li {
    margin: 0 10px;
}

#navbar ul li {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

#navbar ul li:hover {
    cursor: pointer;
    background-color: blue;
    opacity: 0.5;
}

/* 天氣小卡 */

#weatherInfo {
    max-width: 1600px;
    margin: 1%;
    padding: 20px;
    background-color: #fff;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background-color: transparent;
    /* background-color: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

/* .cityWeatherInfocard {
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 330px;
    gap: 10px;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.cityWeatherInfodetail {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 250px;
    gap: 10px;
} */

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

#cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(25% - 2rem);
    max-width: 300px;
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
}

.back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}

/* 底部 */
footer {
    background: linear-gradient(45deg, #13547a 0%, #80d0c7 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

/* 回到最上面按鈕 */
.btn.top {
    position: sticky;
    border-radius: 20px;
    bottom: 20px;
    left: 100%;
    width: 100px;
    height: 40px;
    background-color: gainsboro;
    text-align: center;
    color: #000;
    transform: translateX(-20px);
    box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13), 0 .0625rem .125rem 0 rgba(0, 0, 0, .11);
    padding: 0;
}

.btn.top span {
    border-radius: 20px;
    border: 3px dotted transparent;
    padding: 5px 12px;
}

.btn.top:hover {
    background-color: white;
    color: #000;
}

.btn.top:focus span {
    border-color: skyblue;
}